# Virtual Environments
unix-env3.8/
unix-env/
env3.8/
env/

# Static and media files
mediafiles/
staticfiles/

# Cache
__pycache__/

# Migrations
migrations/

# Database
*.sqlite3

# .ENV file
# .env
# src/.env
oneqshop-v1-ssh.pem
deploy.zip
